/* Tuner Regular */
@font-face {
  font-family: 'tuner-regular';
  font-style: normal;
  font-weight: regular;
  font-display: fallback;
  src: url('../../public/fonts/tunerweb-regular.eot') format('eot'),
    url('../../public/fonts/tunerweb-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../../public/fonts/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('../../public/fonts/Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url('../../public/fonts/Inter-Italic.woff2?v=3.19') format('woff2'),
    url('../../public/fonts/Inter-Italic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url('../../public/fonts/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('../../public/fonts/Inter-Medium.woff?v=3.19') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
  src: url('../../public/fonts/Inter-MediumItalic.woff2?v=3.19') format('woff2'),
    url('../../public/fonts/Inter-MediumItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url('../../public/fonts/Inter-SemiBold.woff2?v=3.19') format('woff2'),
    url('../../public/fonts/Inter-SemiBold.woff?v=3.19') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: fallback;
  src: url('../../public/fonts/Inter-SemiBoldItalic.woff2?v=3.19')
      format('woff2'),
    url('../../public/fonts/Inter-SemiBoldItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('../../public/fonts/Inter-Bold.woff2?v=3.19') format('woff2'),
    url('../../public/fonts/Inter-Bold.woff?v=3.19') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url('../../public/fonts/Inter-BoldItalic.woff2?v=3.19') format('woff2'),
    url('../../public/fonts/Inter-BoldItalic.woff?v=3.19') format('woff');
}
